/* spacing */

table {
    width: 100%;
    border-collapse: collapse;
    border: 10px solid rgb(87, 0, 128);
  }
  
  h1 {
    font-size: 5em;
    font-family: shrikhand;
    font-weight: 100;
    height: 100%;
    text-align:center;
  }
  img {
    border-style: outset;
    border-width: 5px;
    border-color: rgb(87, 0, 128);
    height: 75px;
  }
  th,
  td {
    border: 2px solid;
    vertical-align: center;
    padding: 20px;
    text-align: center;
  }
  table {
    position: fixed;

  }
  body {
    width: 50vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-image: url(images/background.png);
    font-family: shrikhand;
    font-weight: 100;
    height: 100%;
  }
  th {
    font-family: 'Shrikhand', cursive;;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }

tbody tr:nth-child(odd) {
  background-color: #9933ff;
}

tbody tr:nth-child(even) {
  background-color: #a967c5;
}


